/* Header related styling */
.title {
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

img {
    align-content: center;
}


/* Text related styling*/
.text, .credit, .details {
    font-size: 1.3em;
    margin: 0 5%;
    line-height: 1.3em;
}

.text br {
    display: block;
    margin-top: 1em;
    content: ""; /* there is probably a better way to do this, but this made it work*/
}

.credit {
    color: #0000ff;
    margin-top: 2.5em;
    font-weight: bold;
    line-height: normal;
}

/* details */

.details {
    margin-top: 2em;
}

#detail-contents {
    margin-left: 3em;
}

#detail-contents a{
    color: #000000ff;
}

#detail-contents a:hover {
    color: #0000ff;
    text-decoration: underline;
}

span {
    transition: background-color 2s;
    background-color: transparent;
}
span:target {
    background-color: #ffff00;
}

a {
    text-decoration: none;
}

.point-marker {
    text-decoration: none;
    color: #ff0000ff;
    display: inline;
}

.point-marker a:visited{
    color: inherit;
}