body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
img {
    /* Full height */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
#light {
    clip-path: circle(0px at 0px 0px);
    z-index: 100;
}

#circle {
    z-index: 1023;
    position: absolute;

    height: 700px;
    width: 700px;

    background-image: radial-gradient(transparent 50%, white 51%, transparent 54%);
    /* border-radius: 50%;
    border: 15px solid white;

    border-image: linear-gradient(from center, darkblue, darkorchid); */
}

#dark-overlay {
    z-index: 101;
}

#dark {
    z-index: 99;
}