@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #43b8f3;
    overflow: hidden;
    font-family: 'Bebas Neue', Helvetica, sans-serif;

    transition: background-color 3s;
}

body.night {
    background-color: #01060f;
}

#howtoplay {
    position: absolute;
    width: 1920px;
    height: 1080px;

    top: 0;
    left: 0;
    z-index: 400;

    background-color: #0a1a35;
    text-align: center;
}

#howtoplay .section{
    position: absolute;
    width: 100%;
    letter-spacing: 3px;
}

#howtoplay h1 {
    position: relative;
    color: white;
    font-size: 115px;
    margin: 0;
}

#howtoplay h2 {
    margin: 15px;
    color: white;
    font-size: 40px;
}

#howtoplay h3 {
    margin: 15px;
    color: white;
    font-size: 30px;
}

#gamecontainer {
    width: 1920px;
    height: 1080px;
}

#reswarning {
    position: absolute;

    margin: 0 2vw;
    padding: 0 7px;
    font-size: 36px;
    font-weight: bold;
    z-index: 300;

    pointer-events: none;

    background-color: #ffff64;
}

#borderH {
    position: absolute;
    top: 1080px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;

    z-index: 200;
}

#borderW {
    position: absolute;
    top: 0;
    left: 1920px;
    width: 100%;
    height: 100%;
    background-color: #000000;

    z-index: 200;
}

#betweencol {
    position: absolute;
    top: 0;
    left: 50%;

    background-color: black;
    opacity: 0;

    width: 1px;
    height: 100px;

    transform-origin: top center;

    z-index: 600;
}

#prevpos {
    position: absolute;
    z-index: 600;
    opacity: 0;
    width: 20px;
    height: 20px;
    background-color: red;
}

/* BG Stuff */

.cloudpiece {
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 80px;
    color: #103243;    
    transition: background-color 3s;
}

.cloudpiece.night {
    background-color: black;
}

#cloudcontainer {
    z-index: -1;
}


#housecontainer {
    position: absolute;
    top: 730px;
}


.house {
    position: absolute;
    left: 200px;
}

.housemain {
    height: 200px;
    width: 200px;
    position: inherit;
    top: 150px;
    z-index: 2;
    transition: background-color 3s;
}

.houseroof {
    height: 0;
    width: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
    position: inherit;
    z-index: 1;
    transition: border-bottom 3s;
}

.housedoor {
    height: 110px;
    width: 60px;
    margin-left: 70px;
    position: inherit;
    top: 240px;
    z-index: 3;
    transition: background-color 3s;
}

.treetrunk {
    width: 30px;
    height: 100px;
    background-color: #4a2502;
    position: absolute;
    bottom: 0;

    transition: background-color 3s;

    z-index: 0;
}

.treetrunk.night {
    background-color: #000000
}

.leaf {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #004d00;
    border-radius: 80px;
    z-index: 1;
    transition: background-color 3s;
}

.leaf.night {
    background-color: #000300;
}


#obstaclecontainer {
    z-index: 80;
}

#bgoverlay {
    background-color: #97e7ff74;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transition: background-color 3s;

    z-index: 5;
}

#bgoverlay.night {
    background-color: #071e2474;
    z-index: 5;
}

#effectoverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 190;
}

.heal {
    background-color: #02fd02;
    animation-name: healAnim;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

.speedup {
    background-color: orangered;
    animation-name: healAnim;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

.hurt {
    background-color: red;
    animation-name: hurtAnim;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

.clearAll {
    background-color: black;
    animation-name: clearAnim;
    animation-timing-function: ease-in-out;
    animation-duration: 0.6s;
}

@keyframes hurtAnim {
    0% {opacity: 0.4;}
    100% {opacity: 0;}
}

@keyframes healAnim {

    0% {opacity: 0;}
    20% {opacity: 0.2;}
    100% {opacity: 0;}
}

@keyframes speedAnim {
    0% {opacity: 0;}
    20% {opacity: 0.2;}
    100% {opacity: 0;}
}

@keyframes clearAnim {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#endscreen {
    position: relative;
    z-index: 199;
    box-shadow: 0px 0px 400px #0a1a35;
    left: 0;
    font-size:60px;
    margin: 0 50px;
    background-color: #0a1a35;
    text-align: center;
}

#endscreen h1 {
    color: red;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#endscreen h2 {
    color: white;
}

#endscreen h2 span {
    text-shadow: 0px 0px 10px white;
}

/* FPS Buttons */

#fpsbuttons {
    position: absolute;
    z-index: 300;
}

button {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: white;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
}

button:target {
    background-color: red;
    color: white;
}

/* Score */

#distance, #speed, #lives {
    position: relative;
    top: 5%;
    text-align: left;
    z-index: 200;
    width: fit-content;
    border: 2px solid #000000;
    padding: 10px;
    opacity: 0.8;
}

#distance {
    font-size: 30px;
    background-color: lightskyblue;
}

#distance.night {
    box-shadow: 0px 0px 20px lightblue;
}

#speed.night {
    box-shadow: 0px 0px 20px #fa8787;
}

#lives.night {
    box-shadow: 0px 0px 20px #87fa9c;
}

#speed {
    font-size: 25px;
    background-color: #fa8787;
}

#lives {
    font-size: 25px;
    background-color: #87fa9c;
}




/* Player */


/* player is the head */
#player {
    position: absolute;
    top: 80px;
    left: 1000px;

    width: 50px;
    height: 50px;
    background-image: linear-gradient(white 1%, #000000 20%);
    border-radius: 80px;
    z-index: 100;
}


#body {

    position: absolute;
    top: 15px;
    left: -70px;
    width: 80px;
    height: 15px;
    background-image: linear-gradient(white 1%, #000000 50%);
    border-radius: 80px;
}

#armL, #armR, #legL, #legR {
    position: absolute;
    width: 90px;
    height: 8px;
    /* background-color: black; */
    background-image: linear-gradient(white 1%, #000000 50%);
    border-radius: 80px;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#poweruphitbox {
    position: absolute;
    
    border: 5px solid transparent;
    height: 50px;
    width: 200px;

    left: -130px;
    top: -5px;

}

@keyframes flyAL {
    0% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg) translate(8px);}
    100% {transform: rotate(5deg);}
}

@keyframes flyAR {
    0% {transform: rotate(-5deg);}
    50% {transform: rotate(5deg) translateY(8px);}
    100% {transform: rotate(-5deg);}
}


@keyframes flyLL {
    0% {transform: rotate(5deg);}
    50% {transform: rotate(0deg) translateY(4px);}
    100% {transform: rotate(5deg);}
}

@keyframes flyLR {
    0% {transform: rotate(3deg);}
    50% {transform: rotate(7deg) translateY(-7px);}
    100% {transform: rotate(3deg);}
}

#armL {
    
    animation-name: flyAL;
    top: 20px;
    left: -10px;
    transform: rotate(5deg);
    animation-duration: 3s;
}

#armR {
    animation-name: flyAR;
    top: 15px;
    left: -10px;
    transform: rotate(-5deg);
    animation-duration: 2s;
}

#eye {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 80px;
}

#iris {
    position: absolute;
    left: 8px;
    top: 7px;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 80px;
}

#legL {
    animation-name: flyLL;
    left: -130px;
    top: 22px;
    transform: rotate(-5deg);
    animation-duration: 2.5s;
}

#legR {
    animation-name: flyLR;
    left: -130px;
    top: 16px;
    transform: rotate(2deg);
    animation-duration: 2.75s;
}

/* Obstacles */

/* Wall */
.wall {
    position: absolute;
    width: 100px;
    height: 700px;
    border: 3px solid #000000;
    top: -10px;
    background-color: red;

    z-index: 150;
}

/* Space Ship */

.shipbody {
    position: absolute;
    left: -25px;
    top: 60px;
    width: 160px;
    height: 50px;
    background-color: #645e4b;
    border-radius: 80px;
    box-shadow: 0px 25px 30px #ed8d8d;
}

.ship {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: radial-gradient(transparent 50%,#0088ff 60%);
    border-radius: 80px;

    box-shadow: 0px 0px 30px #0088ff;
    z-index: 150;
}

.laser {
    position: absolute;
    background-image: linear-gradient(to left, #ff0000 25%,#4f0000 50%, #ff0000 75%);
    box-shadow: 0px 0px 30px red;
    width: 50px;
    left: 25px;
    top: 100px;
    transform-origin: top;
}

/* Firework */


.firework, .fireworksil {
    position: absolute;

    top: 90%;
    left: 50%;

    width: 20px;
    height: 50px;
}

.firework {
    z-index: 150;
    background: repeating-linear-gradient(
                    45deg,
                    red,
                    red 10px,
                    white 10px,
                    white 13px
                    );

}

.fireworksil {
    z-index: 4;
    background-color: black;
}

.fireworktop, .fireworktopsil {
    position: absolute;
    border-style: solid;
}

.firework .fireworktop {
    border-width: 30px 20px 0 20px;
    border-color: darkred transparent transparent transparent;

    left: -10px;
    top: 35px;
}

.fireworksil .fireworktop {
    border-width: 0 20px 30px 20px;
    border-color: transparent transparent black transparent;

    left: -10px;
    top: -15px;
}


.fireworksil.night {
    z-index: 4;
    background-color: #979797;
}

.fireworksil.night .fireworktop {
    border-color: transparent transparent #979797 transparent;
}

/* Lasers */
.laserBase {
    position: absolute;

    top: 50%;

    width: 50px;
    height: 90px;

    background-color: red;
    border: 4px solid black;

    z-index: 155;

    animation-timing-function: ease-in-out;
    
}



.laserLeaveL {
    animation-name: laserLLeave;

}

.laserLeaveR {
    animation-name: laserRLeave;
}

.horizontalLaser {
    position: absolute;
    background-image: linear-gradient(to bottom, #ff0000 35%,#ffffff 50%, #ff0000 65%);
    box-shadow: 0px 0px 30px #ff0000;
    width: 1910px;
    left: 8px;
    top: 1000px;

    height: 20px;
    transform-origin: top;

    z-index: 150;
}

.horizontalLaserPrev {
    position: absolute;
    width: 100%;
    height: 150px;

    left: 0;
    top: 50%;

    z-index: 90;
    background-image: linear-gradient(to bottom, transparent 30%, #ffff0067 50%, transparent 70% );
}

@keyframes laserLShow {
    0% {
        left: -60px;
        background-color: black;
    }
    70% {
        left: 10px;
        background-color: red;
        box-shadow: 10px 0px 50px yellow;
    }
    100% {
        background-color: white;
        box-shadow: 1850px 0px 10px red;
    }
}
@keyframes laserLLeave {
    0% {left: 10px;}
    100% {left: -60px;}
}

@keyframes laserRShow {
    0% {
        left: 1930px;
        background-color: black;
    }
    70% {
        left: 1860px;
        background-color: red;
        box-shadow: -10px 0px 50px yellow;
    }
    100% {
        background-color: white;
        box-shadow: -1850px 0px 50px red;
    }
}

@keyframes laserRLeave {
    0% {left: 1860px;}
    100% {left: 1930px;}
}



/* Powerups */

/* Life Up */

.lifeitem {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: radial-gradient(#00da00 40%, #007211 60%);
    border-radius: 80px;
    z-index: 150;

    box-shadow: 0 0 40px #02fd02;
}

.lifeVisPlus{

    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    content: "+";

    top: 0px;
    left: 17px;

    font-size: 60px;
    font-weight: 900;
}

/* Speed */
.speeditem {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: radial-gradient(orangered 60%, white 70%);
    border-radius: 80px;
    z-index: 150;
    box-shadow: 0 0 40px orangered;
}
.speedVisA {
    position: absolute;
    left: 23.5px;
}

.speedVisAL, .speedVisAR {
    position: absolute;

    top: 0;
    width: 24px;
    height: 5px;
    background-color: black;
    border-radius: 80px;

    z-index: 151;
}

.speedVisAL {
    transform: rotate(55deg) translateX(10px);
}

.speedVisAR {
    transform: rotate(-55deg) translateX(-10px);
}

/* Obstacle Clear Obstacle */

.removeall {
    position: absolute;
    width: 70px;
    height: 70px;

    background-image: radial-gradient(black 60%, white 70%);
    border-radius: 80px;
    box-shadow: 0 0 40px white;

    z-index: 150;

    top: 50%;
    left: 50%;

    animation-name: removeallAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes removeallAnim {
    0% {
        background-image: radial-gradient(black 60%, white 70%);
        box-shadow: 0 0 50px white;
    }

    50% {
        background-image: radial-gradient(white 60%, black 70%);
        box-shadow: 0 0 50px black;
    }

    100% {
        background-image: radial-gradient(black 60%, white 70%);
        box-shadow: 0 0 50px white;
    }
}