body {
    background-color: #43b8f3;
    overflow: hidden;
}

/* BG Stuff */

.cloudpiece {
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 80px;
    color: #103243;

    box-shadow: var(--hPos) 70px 20px #103243;
}

#cloudcontainer {
    z-index: -1;
}


#housecontainer {
    position: absolute;
    bottom: 350px;
}


.house {
    position: absolute;
    left: 200px;
}

.housemain {
    height: 200px;
    width: 200px;
    position: inherit;
    top: 150px;
    z-index: 2;
}

.houseroof {
    height: 0;
    width: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
    position: inherit;
    z-index: 1;
}

.housedoor {
    height: 110px;
    width: 60px;
    margin-left: 70px;
    position: inherit;
    top: 240px;
    z-index: 3;
}

.treetrunk {
    width: 30px;
    height: 100px;
    background-color: #4a2502;
    position: absolute;
    bottom: 0;

    z-index: 0;
}

.leaf {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #004d00;
    border-radius: 80px;
    z-index: 1;
}

#bgoverlay {
    background-color: #97e7ff2b;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 5;
}

/* Score */

#distance {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    font-size: 5em;

    z-index: 101;
}

/* Player */


/* player is the head */
#player {
    position: absolute;
    top:50%;
    left: 50%;

    width: 50px;
    height: 50px;
    background-image: linear-gradient(white 1%, #000000 20%);
    border-radius: 80px;
    color: #103243;
    z-index: 100;
}


#body {

    position: absolute;
    top: 15px;
    left: -70px;
    width: 80px;
    height: 15px;
    background-image: linear-gradient(white 1%, #000000 50%);
    border-radius: 80px;
}

#armL, #armR, #legL, #legR {
    position: absolute;
    width: 90px;
    height: 8px;
    /* background-color: black; */
    background-image: linear-gradient(white 1%, #000000 50%);
    border-radius: 80px;
}

#armL {
    top: 20px;
    left: -10px;
    transform: rotate(5deg);
}

#armR {
    top: 15px;
    left: -10px;
    transform: rotate(-5deg);
}

#eye {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 80px;
}

#iris {
    position: absolute;
    left: 8px;
    top: 7px;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 80px;
}

#legL {
    left: -130px;
    top: 22px;
    transform: rotate(-5deg);
}

#legR {
    left: -130px;
    top: 16px;
    transform: rotate(2deg);
}

